@font-face {
  font-family: "Josefin Sans";
  font-weight: normal;
  src: url("/app/src/assets/fonts/josefinsans-light-webfont.woff2") format("woff2"),
    url("/app/src/assets/fonts/josefinsans-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Alata";
  font-weight: normal;
  src: url("/app/src/assets/fonts/alata-regular-webfont.woff2") format("woff2"),
    url("/app/src/assets/fonts/alata-regular-webfont.woff") format("woff");
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --main-transition: 250ms ease-in-out;
  --long-transition: 500ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 60%) transparent;
}
::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin-block: 0.25em;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 60%);
  border-radius: 100vw;
}
::-webkit-scrollbar-track:hover {
  background-color: hsl(0, 0%, 60%, 0.25);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 50%);
}

body {
  font-family: "Josefin Sans, sans-serif";
  margin: 0;
  font-size: 0.9375rem;
  color: var(--black);
}

h1,
h2,
h3 {
  font-family: "Alata";
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
}

img {
  display: block;
}

.container {
  max-width: 103rem;
  margin-inline: auto;
  padding-inline: 6rem;
}

@media (width > 120rem) {
  .container {
    max-width: 140rem;
  }
}
